<!DOCTYPE html>
<html lang="ru" th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Поиск</title>
    <meta name="description" content="Описание страницы"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="../../../favicon.ico" rel="shortcut icon"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=33498857"/>
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=33498857"/>
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=33498857"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script defer="defer" src="/assets/js/scripts.min.js?v=33498857"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:replace="~{fragments/locale_change_script_fragment :: script}"></script>
    <script src="/assets/js/LogoutScript.js"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head}"></header>
<div class="Middle Middle_search">
    <div class="wrap">
        <main class="Middle-main">

            <h1 class="Middle-title" th:text="#{top-bar.search}">Поиск
            </h1>
            <div class="Section">
                <div class="search">
                    <form class="form form_search" id="searchbook2" action="#" method="post" data-searchlimit="20">
                        <input class="search-input" id="querypage" name="querypage" type="text"
                               placeholder="Search over 30 million book titles" th:field="${searchWordDto.example}"
                               th:attr="data-refreshquery=${searchWordDto.example}" value="Техника"/>
                        <button class="search-button" type="submit" name="searchpage" id="searchpage"
                                th:text="#{top-bar.search}">Поиск
                        </button>
                    </form>
                </div>
                <div th:if="${searchError}" class="form-error" th:text="${searchError.getLocalizedMessage()}"></div>
            </div>
            <div class="Section Section_close">
                <header class="Section-header" th:object="${booksPage}">
                    <h2 class="Section-title Middle-searchHeader" th:with="bookCount=*{count}, str=#{search.zeroBooksFound}"
                        th:text="${#strings.replace(str, '0', bookCount)}">
                        Найдено 40 книг
                    </h2>
                    <a class="menu-link" id=""
                       th:attr="href=${type eq 'search-local' ?  '/search/google-books' : '/search/local' },
                                                id= ${type eq 'search-local' ?  'google-search' : 'local-search' }"
                       th:href="${type} eq 'search-local' ?  @{'/search/google-books'} : @{'/search/local'} "
                       href="/genres/index.html"
                       th:text="${type eq 'search-local'} ? #{search.google-books} : #{search.local} ">Книги</a>
                </header>
                <div class="Cards Cards_refresh"
                     th:replace="~{fragments/books_pool_fragment :: pool(booksPage=${booksPage}, refreshShowValue = ${type})}"></div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>