<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block sec:authorize="hasRole('USER') && !hasRole('ADMIN')" th:fragment="commentForm" th:if="${status} == 'PAID' or ${status} == 'ARCHIVED'">
    <strong  class="Comments-title" th:text="#{book.writereview}">Написать отзыв
    </strong>
    <div class="Comments-addComment">
        <form class="form" action="#" method="post" th:attr="data-bookid =*{slug}"
              data-bookid="1111">
            <div class="form-group">
                                <textarea class="form-textarea Comments-review" name="review" id="review"
                                          placeholder="Текст отзыва" th:attr="placeholder=#{book.reviewText}" data-validate="require"></textarea>
            </div>
            <div class="form-group Comments-sendReview">
                <button class="btn btn_warning" type="submit" th:text="#{buttons.addReview}">Отправить отзыв
                </button>
            </div>
        </form>
    </div>
</th:block>

</html>