<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="bookSlider">
    <div class="Section-header">
        <h2 class="Section-title" th:text="${title}">Рекомендуемое
        </h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" th:attr="data-load=${bookType}" data-load="recommended" data-loadoffset="0"
             data-loadlimit="6">
            <div class="Slider-item" th:each="book: ${booksPage.books}">
                <div class="Slider-content" th:object="${book}">
                    <div class="Card" >
                        <div class="Card-picture" >
                            <a  th:href="@{'/books/' + ${book.slug}}"
                               href="/books/slug.html">

                                <img  style="width: 168px; height: 253px; object-fit: cover;"
                                      th:src="*{image}" alt="card.jpg"/>
                                <div class="Card-ribbon" th:if="*{isBestseller}">
                                    <span class="Card-ribbonText">Бестселлер</span>
                                </div>
                                <div class="Card-sale" th:if="*{discount} > 0" th:text="*{discount} + '% скидка'">30%
                                    скидка
                                </div>
                                <div sec:authorize="hasRole('USER')">
                                    <a th:if="${#lists.contains(slugsByStatus.get('CART'), book.slug)}" th:href="@{/cart}" class="Card-status" title="В корзине">
                                        <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg">
                                    </a>
                                    <a th:if="${#lists.contains(slugsByStatus.get('KEPT'), book.slug)}" th:href="@{/postponed}"  class="Card-status" title="Отложена">
                                        <img src="/assets/img/icons/heart.svg" alt="heart.svg">
                                    </a>
                                    <a th:if="${#lists.contains(slugsByStatus.get('PAID'), book.slug)}" th:href="@{/my}"  class="Card-status" title="Куплена">
                                        <img src="/assets/img/icons/check.svg" alt="check.svg">
                                    </a>
                                    <a th:if="${#lists.contains(slugsByStatus.get('ARCHIVED'), book.slug)}" th:href="@{/myarchive}" class="Card-status" title="В архиве">
                                        <img src="/assets/img/icons/archive.svg" alt="archive.svg">
                                    </a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a th:if="${#lists.contains(slugsByStatus.get('CART'), book.slug)}" th:href="@{/anonym/cart}" class="Card-status" title="В корзине">
                                        <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg">
                                    </a>
                                    <a th:if="${#lists.contains(slugsByStatus.get('KEPT'), book.slug)}" th:href="@{/anonym/postponed}"  class="Card-status" title="Отложена">
                                        <img src="/assets/img/icons/heart.svg" alt="heart.svg">
                                    </a>
                                </div>
                            </a>
                        </div>



                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html" th:href="@{'/books/' + *{slug}}"
                                                          th:text="*{title}">Техника</a>
                            </strong>

                            <div class="Card-description" th:text="*{authors}">Кондратенко Валерий Петрович
                            </div>


                            <div class="Card-cost">
                                <span class="Card-priceOld" th:text="'₽' + *{ price}">₽300.00</span>
                                <span class="Card-price" th:text="'₽'+ *{discountPrice}">₽190.00</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${booksPage.hasNext}" class="Slider-navigateWrap">
            <div class="Slider-navigate">
            </div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных
            </div>
        </div>
    </div>
</div>
</html>