<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="Tags" th:if="${genreTree} != null and ${genreTree.children} != null"
     th:fragment="tree"
     th:each="genre : ${genreTree.children}"
     th:classappend=" ${genre.children.size() > 0 ? '' : 'Tag'}">

    <div class="Tags-title" th:object="${genre}">
        <div class="Tag"><a th:href="@{'/genres/' + *{slug}}" href="/genres/slug.html">
            <span th:text="*{name}">Лёгкое чтение</span>
            <span th:text="'(' + *{booksCount} + ')'"
                  class="undefined-amount">(15638)</span></a>
        </div>
    </div>
    <div class="Tags" th:replace="~{fragments/genre_tree_fragment :: tree(genreTree=${genre})}">
    </div>

</div>

</body>
</html>