<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../../favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=04238027">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=04238027">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=04238027">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=04238027"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <script th:replace="~{fragments/locale_change_script_fragment :: script}"></script>
    <script src="/assets/js/sendChangeBookStatusRequestScript.js"></script>
    <script src="/assets/js/LogoutScript.js"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Отложенное
            </h1>
            <form th:if="${#lists.isEmpty(booksPage.books)}" class="form Cart Cart_postponed">
                <div class="Cart-messageInfo">Отложенных книг нет</div>


                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                    </div>
                    <div class="Cart-block">
                        <button class="btn btn_success btn_md Cart-buyAll" data-sendstatus="CART" data-bookid="[9]"
                                disabled="disabled">Купить все
                        </button>
                    </div>
                </div>
            </form>
            <form th:unless="${#lists.isEmpty(booksPage.books)}" class="form Cart Cart_postponed">
                <div class="Cart-product" th:each="book : ${booksPage.books}">
                    <div class="Cart-block Cart-block_row" th:object="${book}">
                        <div class="Cart-block Cart-block_pict">
                            <a class="Cart-pict" href="#" th:href="@{'/books/' + *{slug}}">
                                <img style="width: 100px; height: 150px; object-fit: cover;"
                                     class="Cart-img" th:src="*{image}" src="/assets/img/content/main/card.jpg"
                                     alt="card.jpg"/>
                            </a>
                        </div>
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_info">

                                <div class="Cart-title"><a href="#" th:href="@{'/books/' + *{slug}}" th:text="*{title}">Жизнь</a>
                                </div>
                                <div class="Card-description">
                                    <span th:text=" *{authors}">Лия Арден
                                        <span></span>
                                    </span>
                                </div>
                                <div class="Cart-buttons" sec:authorize="hasRole('USER')">
                                    <div class="Cart-btn">
                                        <button class="btn btn_primary btn_outline kept_section" data-sendstatus="CART"
                                                th:attr="data-bookid='[&quot;' + *{slug }+ '&quot;]'"
                                                data-bookid="[1122]"><span class="btn-icon"><img
                                                src="/assets/img/icons/shopping-basket.svg"
                                                alt="shopping-basket.svg"/></span><span
                                                class="btn-content">Купить</span>
                                        </button>
                                    </div>
                                    <div class="Cart-btn">
                                        <button class="btn btn_danger btn_outline kept_section" data-sendstatus="UNLINK"
                                                th:attr="data-bookid='[&quot;' + *{slug }+ '&quot;]'"
                                                data-bookid="[1122]"><span class="btn-icon"><img
                                                src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span
                                                class="btn-content">Удалить</span>
                                        </button>

                                    </div>
                                </div>
                                <div class="Cart-buttons" sec:authorize="isAnonymous()">
                                    <div class="Cart-btn">
                                        <button class="btn btn_primary btn_outline kept_section"
                                                th:attr="data-bookid= *{slug} " data-sendstatus_unauthorized="CART"
                                                data-bookid="[1122]"><span class="btn-icon"><img
                                                src="/assets/img/icons/shopping-basket.svg"
                                                alt="shopping-basket.svg"/></span><span
                                                class="btn-content">Купить</span>
                                        </button>
                                    </div>
                                    <div class="Cart-btn">
                                        <button class="btn btn_danger btn_outline kept_section" data-sendstatus_unauthorized="KEPT"
                                                th:attr="data-bookid= *{slug} "
                                                data-bookid="[1122]"><span class="btn-icon"><img
                                                src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span
                                                class="btn-content">Удалить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-priceTitle">Цена:
                                </div>
                                <div class="Cart-price Cart-price_old" th:text="'₽' + *{price}">150 р.
                                </div>
                                <div class="Cart-price" th:text="'₽' + *{discountPrice}">254 р.
                                </div>
                                <div class="Cart-sale" th:text="'-' + *{discount} + '%'">-30%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                    </div>
                    <div class="Cart-block">
                        <button class="btn btn_success btn_md Cart-buyAll" data-sendstatus="CART"
                                th:attr="data-bookid = ${booksPage.slugs}"
                                data-bookid="[1111, 1122, 1133]">Купить все
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>